
@{
    ViewBag.Title = "Current collections";
}

<h2>Current collections</h2>
<span class="alert alert-info">@TempData["msg"]</span>
<br /><br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Restaurant Name</th>
        <th>Preserve Time</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <th>@c.Id</th>
            <th>@c.Rname</th>
            <th>@c.Ptime</th>
            <th>@c.Status</th>
            <th><a href="/employee/complete/@c.Id" class="btn btn-info">Complete</a></th>
        </tr>
    }
</table>

